html {
  height: 100%;
}

body {
    background-image: url("/static/projects/art/1.jpg") ;
    color: white;
    height: 100%;
    position: relative;
    text-align: center;
}

.navbar {
    background-image: url("/static/projects/art/Frost.jpg");
    color: rgb(211, 212, 223);
}

a {
    color: white;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light > div.collapse.navbar-collapse > ul.navbar-nav.mr-auto > li.nav-item > a.nav-link {
    color: rgb(211, 212, 223);
}

#haha {
    color: rgb(211, 212, 223);
}

.container {
    margin-top: 3em;
}

