<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectMash</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}">
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" id = 'haha'href="{%url 'projects:index'%}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link mynav" href="{%url 'projects:create'%}">CREATE <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'projects:search_form'%}">SEARCH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'projects:generate_view'%}">GENERATE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'projects:vote'%}">VOTE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'projects:scoreBoard'%}">SCORE BOARD</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'projects:index' %}search" method="GET">
                <input type="text" name="project_name" id="project_name" placeholder="project_name" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
