{% include "./partials/header.html" %}

<div class="container">
    <h1>Feedbacks for {{project_name}}</h1>
    <h2>Score: {{score}}</h2><br>
    <h3>Rank: {{rank}} ({{totalnum}})</h3>
    <h4>Strength:</h4>
    
    <ul class="list-group">
        {% if firstScore >= hthreshold%}
            <span>techinical difficulty</span>
        {% endif %}
        {% if secondScore >= hthreshold %}
            <span>creativity</span>
        {% endif %}
        {% if thirdScore >= hthreshold %}
            <span>user interface</span>
        {% endif %}
    </ul>
    <br>
    <br>
    <h4>Weakness:</h4>
    <ul class="list-group">
        {% if firstScore <= lthreshold %}
            <span>techinical difficulty</span>
        {% endif %}
        {% if secondScore <= lthreshold %}
            <span>creativity</span>
        {% endif %}
        {% if thirdScore <= lthreshold %}
            <span>user interface</span>
        {% endif %}
    </ul>
</div>


{% include "./partials/footer.html" %}