{% include "./partials/header.html" %}
<div class="container">
    <p>
        <h1 style="margin-top:30px;margin-bottom:0px;margin-right:0px;margin-left:30px;">
        You have finished voting.</h1>
    </p>
    <br>
    <p>
        <h2 style="margin-top:30px;margin-bottom:15px;margin-right:0px;margin-left:30px;">Do you want to vote again?</h2>
        <a class="btn btn-danger" style="margin:0 0 0 30px;font-size:15px" href="{% url 'projects:vote'">Vote Again</a>
    </p>
    <br>
    <p>
        <h2 style="margin-top:30px;margin-bottom:15px;margin-right:0px;margin-left:30px;">Or, you can go to the home page.</h2>
        <a class="btn btn-danger" style="margin:0 0 0 30px;font-size:15px" href="{% url 'projects:index'">HOME</a>
    </p>
</div>
{% include "./partials/footer.html" %}