<!DOCTYPE html>
<html>
<style>
h1 {
  margin: 40px;
}
p {
  font-size: 160%;
  margin: 80px;
}
div {
  font-size: 160%;
  margin: 80px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: 12px;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}
</style>
<h1>
  <h1 style="text-align:center;border:3px solid; padding:10px; width:50%; margin:auto">Compare projectA {{ comparison_pair.projectA.project_name }} and projectB {{comparison_pair.projectB.project_name}}</h1>
</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form name="voteform" action="{% url 'projects:vote_process' %}" onsubmit="return validateForm()" method="post">
  {% csrf_token %}

  <p style="border: 3px solid; border-top:none; padding:10px; width:50%; margin:auto">
      <h style="font-weight:bold;font-size:25px;margin: 0px 0px 0px 80px;">Project A:</h><br>
      <label for="choiceA" style="margin:0px 0px 0px 140px">Project Name: {{ comparison_pair.projectA.project_name }}</label><br>
      <h style="margin:0px 0px 0px 140px">Project Demo Video:</h><br>
      <iframe width="420" height="315" style="margin-left: auto;margin-right: auto;display: block"
        src="{{comparison_pair.projectA.project_link}}">
      </iframe><br>
      <!-- <a href="{{ comparison_pair.projectA.project_link }}">link to projectA demo video</a><br> -->
      <h style="margin:0px 0px 0px 140px">Project Summary:</h>
      <label for="choiceA" style="margin:0px 0px 0px 180px">{{ comparison_pair.projectA.project_summary }}</label>

  </p>

  <p style="border: 3px solid; border-top:none; padding:10px; width:50%; margin:auto">
      <h style="font-weight:bold;font-size:25px;margin: 0px 0px 0px 80px;">Project B:</h><br>
      <label for="choiceB" style="margin:0px 0px 0px 140px">Project Name: {{ comparison_pair.projectB.project_name }}</label><br>
      <h style="margin:0px 0px 0px 140px">Project Demo Video:</h><br>
      <iframe width="420" height="315" style="margin-left: auto;margin-right: auto;display: block"
        src="https://www.youtube.com/embed/A3ubhW5_GjY?controls=1">
      </iframe><br>
      <h style="margin:0px 0px 0px 140px">Project Summary:</h>
      <label for="choiceA" style="margin:0px 0px 0px 180px">{{ comparison_pair.projectB.project_summary }}</label>
  </p>

  <p style="border: 3px solid; border-top:none; padding:10px; width:50%; margin:auto">
    <h style="font-weight:bold;font-size:25px;margin: 0px 0px 0px 80px;">Which project is better?</h><br>
    <input type="radio" name="choice" id="r1" value="choiceA" onclick="f1()" style="margin:0px 0px 0px 120px"> projectA<br>
    <input type="radio" name="choice" id="r2" value="choiceB" onclick="f2()" style="margin:0px 0px 0px 120px"> projectB<br>
  </p>

  <div id="div1" style='display:none; border: 3px solid; border-top:none; padding:10px; width:50%; margin:auto'>
    <h style="font-weight:bold;font-size:25px;margin: 0px 0px 0px 80px;">Please provide your feedback.</h><br>
    <input type="checkbox" name="feedback1" value="diffA" style="margin:0px 0px 0px 120px"> projectA is better because of its difficulty</input><br>
    <input type="checkbox" name="feedback2" value="creatA" style="margin:0px 0px 0px 120px"> projectA is better because of its creativity</input><br>
  </div>

  <div id="div2" style='display:none;border: 3px solid; border-top:none; padding:10px; width:50%; margin:auto'>
    <h style="font-weight:bold;font-size:25px;margin: 0px 0px 0px 80px;">Please provide your feedback.</h><br>
    <input type="checkbox" name="feedback1" value="diffB" style="margin:0px 0px 0px 120px"> projectB is better because of its difficulty</input><br>
    <input type="checkbox" name="feedback2" value="creatB" style="margin:0px 0px 0px 120px"> projectB is better because of its creativity</input><br>
  </div>

<div>
  <input type="submit" value="Submit" class='button button1'>
</div>
</form>



<script type="text/javascript">
  function f1() {
    document.getElementById("div1").style.display = 'block';
    document.getElementById("div2").style.display = 'none';
  }
  function f2() {
    document.getElementById("div1").style.display = "none";
    document.getElementById("div2").style.display = "block";
  }
  function validateForm() {
    x = document.forms["voteform"]["choice"].value;
    if (x == "") {
      alert("You didn't select a choice");
      return false;
    }
  }
</script>

</html>
